fastapi
uvicorn[standard]
chromadb
ollama
pymupdf
tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-javascript
tree-sitter-typescript
pydantic
pydantic-settings
python-multipart
pyyaml
nltk
langchain-text-splitters
transformers
torch
groq
python-docx
requests